node_modules
.vscode
.idea
dist
/public
/template
.eslintrc.js
vite.config.ts
vite.config.js
addExtraFile.js
commitlint.config.js
.prettierrc.js
vite.config.ts
playwright.config.ts
wxcomponents
tsup.config.ts
tsup.config.dev.ts
plop-templates
plopfile.js
src/types
packages/common/types
