electron_mirror="https://npmmirror.com/mirrors/electron/"
registry=https://registry.npmmirror.com/
@zonst:registry=http://verdaccio.zonst.com/
@zonst-types:registry=http://verdaccio.zonst.com/
engine-strict=true
save-exact=true
node-linker = hoisted
shamefully-hoist = true
